extends layout

block content
  h1= title
  p Welcome to #{title}

  h3 This is another project part of the backend certification at freeCodeCamp.
  p Here is an example of creating a new url shortcut 
    code https://kg-fcc-urlshortener.herokuapp.com/new/www.google.com
  p to return a new url such as: 
    code https://kg-fcc-urlshortener.herokuapp.com/1497295989575

  p You can then enter the new url to be redirected to Google.

